__pycache__/
*.py[cod]
*$py.class
*.so
dist/
build/
*.egg-info/
*.egg
.eggs/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
*.cover
.env
.venv
env/
venv/
.idea/
.vscode/
*.swp
*.swo
